[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
  url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "VimCompletesMe"]
  path = .vim/pack/vendor/start/VimCompletesMe
  url =  git@github.com:ackyshake/VimCompletesMe.git

[submodule "vim-bracketed-pasterl"]
  path = .vim/bundles/vim-bracketed-paste
  url =  https://github.com/ConradIrwin/vim-bracketed-pasterl

